streamlit
requests
beautifulsoup4
pandas
openai
playwright
playwright-stealth
python-dotenv
tiktoken
chromadb
lxml
tqdm
pypdf

langchain
langchain-core
langchain-openai
langchain-chroma
langchain-community
langchain-text-splitters
